<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developers - Real Estate Website</title>
    <link rel="stylesheet" href="/public/css/crm_style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">


    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/public/image/mdb.jpg" alt="mdb" class="img-fluid logo-img">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mg-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/crm/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/crm/properties">Properties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/crm/developer">Developers</a>
                <li class="nav-item">
                    <a class="nav-link" href="/crm/faqs">FAQ's</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/crm/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/crm/application">Join Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/">Login</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!-- Partner Developers Section -->
<div class="container mt-5 pt-5">
    <h2 class="text-center mb-5" style="color: #4f6ef5; font-weight: bold;">Partner Developers</h2>
    <div class="row justify-content-center">

        <!-- Developer 1 -->
        <div class="col-md-4 mb-5">
            <div class="text-center border border-dark" style="height: 100%;">
                <img src="/public/image/amaia.png" alt="New Developer" class="img-fluid p-5">
                <div class="bg-dark text-light p-3">
                    <h5 class="text-warning">New Developer</h5>
                    <p>This developer offers modern and affordable real estate solutions...</p>
                    <button class="btn btn-link text-warning p-0" data-bs-toggle="modal" data-bs-target="#dev1Modal">Read more</button>
                </div>
            </div>
        </div>

        <!-- Developer 2 -->
        <div class="col-md-4 mb-5">
            <div class="text-center border border-dark" style="height: 100%;">
                <img src="/public/image/antel-land.png" alt="PrimeBuild Estates" class="img-fluid p-5">
                <div class="bg-dark text-light p-3">
                    <h5 class="text-warning">PrimeBuild Estates</h5>
                    <p>PrimeBuild specializes in building sustainable communities...</p>
                    <button class="btn btn-link text-warning p-0" data-bs-toggle="modal" data-bs-target="#dev2Modal">Read more</button>
                </div>
            </div>
        </div>

        <!-- Developer 3 -->
        <div class="col-md-4 mb-5">
            <div class="text-center border border-dark" style="height: 100%;">
                <img src="/public/image/apechomes.png" alt="UrbanVista Properties" class="img-fluid p-5">
                <div class="bg-dark text-light p-3">
                    <h5 class="text-warning">UrbanVista Properties</h5>
                    <p>UrbanVista brings affordable housing solutions to cities...</p>
                    <button class="btn btn-link text-warning p-0" data-bs-toggle="modal" data-bs-target="#dev3Modal">Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>

 
<!-- Modal 1 -->
<div class="modal fade" id="dev1Modal" tabindex="-1" aria-labelledby="dev1ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header">
          <h5 class="modal-title text-warning" id="dev1ModalLabel">New Developer</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body text-center">
          <img src="/public/image/amaia.png" alt="New Developer" class="img-fluid mb-3" style="max-height: 150px;">
          <p>New Developer offers modern and affordable real estate solutions across the Philippines. With a vision to build sustainable and livable communities, they focus on quality, innovation, and client satisfaction.</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal 2 -->
  <div class="modal fade" id="dev2Modal" tabindex="-1" aria-labelledby="dev2ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header">
          <h5 class="modal-title text-warning" id="dev2ModalLabel">PrimeBuild Estates</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body text-center">
          <img src="/public/image/antel-land.png" alt="PrimeBuild Estates" class="img-fluid mb-3" style="max-height: 150px;">
          <p>PrimeBuild Estates is a leading developer in eco-friendly and sustainable residential communities. They provide amenities that promote healthy living and work-life balance for Filipino families.</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal 3 -->
  <div class="modal fade" id="dev3Modal" tabindex="-1" aria-labelledby="dev3ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header">
          <h5 class="modal-title text-warning" id="dev3ModalLabel">UrbanVista Properties</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body text-center">
          <img src="/public/image/apechomes.png" alt="UrbanVista Properties" class="img-fluid mb-3" style="max-height: 150px;">
          <p>UrbanVista Properties focuses on urban housing developments. Their mission is to make affordable and accessible homes within city areas, with thoughtful design and strategic locations.</p>
        </div>
      </div>
    </div>
  </div>
  
  


<!-- Footer -->
<footer class="bg-dark text-light pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h5>About Us</h5>
                <p>M.D. Buendia Construction Inc. specializes in high-quality residential construction...</p>
            </div>
            <div class="col-lg-4">
                <h5>Contacts</h5>
                <p><i class="fa fa-map-marker-alt"></i> Naic, Cavite</p>
                <p><i class="fa fa-phone"></i> (92) 0325 12344567</p>
                <p><i class="fa fa-envelope"></i> mdb_engineering@yahoo.com</p>
            </div>
            <div class="col-lg-3">
                <h5>Stay Connected</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="text-center mb-0">© 2025 <a href="#">M.D. BUENDIA</a>. All Rights Reserved.</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js">

</script>

  
</body>
</html>
