<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/css/scm_style.css">
  <script src="/public/js/app.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <title>Dashboard UI</title>
</head>
<body>
  <div class="sidebar">
    <div class="sidebar-header">
        <h1>SCM</h1>
        <button id="toggleSidebar">☰</button>
      </div>
      <a href="/scm/scm_dashboard"><i class="bi bi-grid"></i><span>Dashboard</span></a> 
      <a href="/scm/inventory"><i class="bi bi-box"></i><span>Inventory</span></a>
      <a href="/scm/supplier"><i class="bi bi-person-lines-fill"></i><span>Supplier</span></a>
      <a href="/scm/transfer"><i class="bi bi-truck"></i><span>Material Transfer</span></a>
      <a href="/scm/requestmaterial"><i class="bi bi-plus-circle"></i><span>Request Material</span></a>
      <a href="/scm/outside"><i class="bi bi-receipt"></i><span>Outside Purchases</span></a>
      <a href="/scm/contract"><i class="bi bi-file-earmark-text"></i><span>Contract</span></a>
      <a href="/logout" class="logout"><i class="bi bi-box-arrow-right"></i><span>Logout</span></a>

  </div>
  <div class="main-content">
    <div class="card">
        
      </div>
  
    
  </div>
</body>
</html>


