<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Dashboard</title>
    <link rel="stylesheet" href="/css/layout.css">
    <style>




    </style>
</head>
<body>
    <div class="sidebar">
        <h2>HR Panel</h2>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/hr_manager/employee_management">Employee Management</a></li>
            <li><a href="/hr_manager/leave_request">Leave Requests</a></li>
            <li><a href="/hr_manager/employee_attendance">Employee Attendance</a></li>
            <li><a href="/hr_manager/payroll">Payroll Management</a></li>
            <li><a href="/hr_manager/reports">Reports</a></li>
            <li><a href="/hr_manager/attendance">Attendance</a></li>
            <li><a href="/hr_manager/recruitment">Recruitment</a></li>
            <li><a href="/hr_manager/employee_list">Employee Directory</a></li>
            <li><a href="/logout" id="logout-button">Logout</a></li>
        </ul>
    </div>
    
        <script>

        </script>
    </body>
</html>
