<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>

<!-- ========== Sidebar ========== -->

 <div class="sidebar">
    <h2>HR Dashboard</h2>
    <div class="d-flex"><button class="toggle-btn"  type="button"
        class="btn btn-primary"
        data-bs-toggle="button"
        aria-pressed="false"
        autocomplete="off"
        title="Toggle Sidebar"><i class="bi bi-list"></i>
       
    <i class="bi bi-list"></i>
    </button>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item mb-2"><a href="#" class="nav-link text-white"><span>Dashboard</span></a></li>
        <li class="sidebar-item mb-2"><a href="#" class="nav-link text-white">Employee Management</a></li>
        <li class="sidebar-item"><a href="#" class="nav-link text-white">Payroll</a></li>
        <li class="sidebar-item mb-2"><a href="#" class="nav-link text-white">Reports</a></li>
    </ul>


 </div>

<!-- ========== End Section ========== -->


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>